################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommaAi/v16/ipch/AutoPCH
/debug
/release/moc_predefs.h.cbt
/.qmake.stash
/.vs/CommaAi/v16/TestStore/0
/.vs/CommaAi/v16
/CommaAi.pro.user
/CommaAi.vcxproj.user
/CommaAi.vcxproj.filters
/CommaAi.vcxproj
/trainandobservations.csv
/CommaAi.sln
/ui_MainWindow.h
/.vs/MonocularVisualOdometry/v16
